body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

ul {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('./img/main-screen__bgc.png');
    padding: 38px 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    height: 40px;
    width: 40px;
}

.header__navigation-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    gap: 56px;
}

.header__navigation-item a {
    color: white;
    text-decoration: none;
}

.header__action button {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    text-align: center;
    align-content: normal;
}


.header__body {
    margin: 198px auto;
    max-width: 1300px;
}

.header__general-title {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    text-align: left;
}

.header__counter-item {
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    padding: 20px 32px;
    background-color: #121212;
}

.header__counter-item span {
    font-size: 16px;
    text-align: center;
    opacity: 0.4;
}

.header__counter {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    gap: 30px;
}

.statistic {
    width: 100%;
    background-color: #121212;
    padding: 36px 0;
}

.statistic__container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.statistic__action button {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
}

.statistic-list,
.progress-line__info {
    font-size: 16px;
    color: #717171;
    line-height: 29px;
    list-style-type: none;
    width: 230px;
}

.statistic-list__item span,
.progress-line__info span {
    color: #fff;
    float: right;
}

.progress-line__info {
    width: fit-content;
}

.progress-line__info span {
    padding-left: 20px;
}

.progress-line__progress {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    height: 6px;
    width: 40%;
}

.progress-line__line {
    background: #FFFFFF;
    height: 6px;
    width: 714px;
    color: #717171;
}

.progress-line__line span {
    float: right;
}

.about {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px auto 230px auto;
}

.about__image {
    width: 526px;
    height: 499px;
    border: 30px solid;
    border-image: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    position: relative;
    border-image-slice: 1;
}

.about__image img {
    position: absolute;
    top: 96px;
    left: 10px;
}

.about__content {
    color: #fff;
    max-width: 636px;
    text-align: start;
}

.about__title {
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.start {
    margin-top: 243px;
    margin-left: 324px;
    display: flex;
    align-items: end;
}

.start__title {
    font-size: 48px;
    color:#FFFFFF;
    margin-left: 20px;
}

.start__text {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.5;
    line-height: 26px;
    margin-top: 49px;
    margin-left: 317px;
}

.chart {
    display: flex;
    margin-left: 312px;
    align-items: center;
}

.hundred,
.seventy-five,
.fifty,
.result {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    width: 324px;
}

.hundred {
    height: 80px;
    margin-top: 20px;
}

.seventy-five {
    height: 60px;
    margin-top: 30px;
    margin-bottom: 45px;
}

.fifty {
    height: 30px; 
    margin-top: 45px;
    margin-bottom: 60px;
}

.result {
    height: 10px;
    margin-top: 55px;
    margin-bottom: 70px;
}

.hundred-title,
.seventy-five-title,
.fifty-title,
.result-title {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
    margin-top: 80px;
}

.chart-text {
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.5;
    max-width: 306px;
    margin-top: 35px;
    line-height: 22px;
}

.profession__text {
    color: #FFFFFF;
    font-size: 48px;
    margin-top: 200px;
    justify-content: center;
    margin: 200px 555px 120px 555px;
    font-weight: bold;
}

.advantages__images {
    display: flex;
    font-size: 0;
    gap: 340px;
    margin-left: 470px; 
}

.advantages-texts {
    display: flex;
    gap: 82px;
    max-width: 1238px;
    margin-left: 341px;
}

.title-advantages {
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 60px;
    text-align: center;
    gap: 24px;
}

.text-advantages {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.8;
}

.partner {
    margin-top: 232px;
    margin-left: 293px;
    display: flex;
    align-items: top;
    gap: 52px;
}

.partner__image {
    transform: rotate(180deg);
}

.partner__title {
    font-size: 48px;
    color:#FFFFFF;
}

.partners-logo {
    display: flex;
    margin-top: 60px;
    margin-left: 300px; 
    align-items: center; 
}

.partners-logo__logo {
    height: 93px;
    margin-right: 66px;
    margin-left: 66px;
}

.partners-logo__line {
    border-left: 1px solid #FFFFFF;
    height: 150px;
    opacity: 0.3;    
}

.horizontal-line {
    border: 1px solid #FFFFFF;
    opacity: 0.3;  
    width: 1296px;
    margin-left: 312px;
}

.again-partners-logo {
    display: flex;
    margin-left: 300px; 
    align-items: center; 
}

.again-partners-logo__logo {
    height: 93px;
    margin-right: 66px;
    margin-left: 66px;
}

.again-partners-logo__line {
    border-left: 1px solid #FFFFFF;
    height: 150px;
    opacity: 0.3;    
}

.training-program {
    display: block;
    margin-top: 243px; 
}

.training-program__image {
    transform: rotate(135deg);
    margin-left: 914px;
}

.training-program__title {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 717px;
    margin-top: 76px;
    width: 485px;
    text-align: center;
    left: 10px;
}

.training-program__text {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.5;
    margin-left: 754px;
    margin-top: 30px;
    line-height: 26px;
    width: 411px;
    text-align: center; 
}

.program {
    display: flex;
}

.program__weeks,
.even__weeks {
    display: block;
}

.week-one {
    margin-top: 90px;
}

.week-one__title,
.week-three__title,
.week-five__title,
.week-seven__title {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.5;
    margin-left: 593px;
    line-height: 22px;
    width: 304px;
    text-align: right; 
}

.scale {
    display: flex;
    margin-top: 15px; 
}

.scale__scale-text {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 669px;
    margin-right: 20px;
    line-height: 29px;
    width: 228px;
    text-align: right;    
}

.scale__scale-line {
    border: 1px solid #FFFFFF;
    opacity: 0.3;
    width: 40px;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}

.week-three {
    margin-top: 87px;
}
   
.week-five,
.week-seven,
.week-four,
.week-six {
    margin-top: 95px;
}

.scale-vertical {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    width: 6px;
    height: 677px;
    margin-left: 0px;
    margin-top: 80px;   
}

.week-two {
    margin-top: 177px;
}

.week-two__title,
.week-four__title,
.week-six__title {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.5;
    margin-left: 76px;
    line-height: 22px;
    width: 304px;
    text-align: left;  
}

.scale__scale-description {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 36px;
    line-height: 29px;
    width: 228px;
    text-align: left;  
}

.teachers {
    margin-top: 216px;
    margin-left: 311px;
    display: flex;
    align-items: flex-start;
    gap: 38px;
}

.teachers__image {
    transform: rotate(315deg);
}

.teachers__title {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 100px;
    align-items: end;
    display: flex;
}

.photo {
    display: flex;
    margin-top: 113px;
}

.teacher-first__image {
    margin-left: 425px;
    margin-right: 250px;
}

.teacher-first__name {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 34px;
    width: 416px;
    margin-left: 312px;
    text-align: center;
    margin-top: 40px;
}

.teacher-first__profession {
    color: #FFFFFF;
    font-size: 16px;
    opacity: 0.8;
    width: 358px;
    line-height: 26px;
    text-align: center;
    margin-left: 341px;
    margin-top: 15px;
}

.teacher-first__button {
    margin-left: 448px;
    margin-top: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    text-align: center;
    align-content: normal;
    font-size: 16px;
    height: 44px;
    background-color: #000000;
    color: #FFFFFF;
}

.teacher-second__name,
.teacher-third__name {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 34px;
    width: 416px;
    margin-top: 40px;
    margin-left: 10px;
}

.teacher-second__profession,
.teacher-third__profession {
    color: #FFFFFF;
    font-size: 16px;
    opacity: 0.8;
    width: 358px;
    line-height: 26px;
    margin-top: 15px;
}

.teacher-second__button,
.teacher-third__button {
    margin-left: 20px;
    margin-top: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    text-align: center;
    align-content: normal;
    font-size: 16px;
    height: 44px;
    background-color: #000000;
    color: #FFFFFF;
}

.mailing-block {
    margin-top: 200px;
}

.mailing-block__title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    margin-left: 686px;
    margin-bottom: 30px;
}

.mailing-block__text {
    color: #FFFFFF;
    font-size: 16px;
    opacity: 0.5;
    margin-left: 754px;
    width: 411px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 60px;
}

.email {
    display: flex;    
}

.email__input {
    margin-left: 714px;
    max-width: 353px;
    opacity: 0.25;
    border-radius: 50px;
    background: #FFFFFF;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    position: relative;
    width: 353px;
    height: 40px;
    z-index: 1;
    padding-left: 30px;
}

.email__input::placeholder { 
    opacity: 0.8;  
}

.email__button {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    width: 160px;
    height: 44px;
    border-radius: 50px;
    position: absolute;
    z-index: 2;
    margin-left: 1030px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

.social {
    display: flex; 
}

.vk,
.youtube,
.facebook,
.instagram {
    position: relative;
}

.vk img:nth-child(1){
    margin-left: 815px;
    position: absolute;
    z-index: 1;
    margin-top: 40px;
}

.vk img:nth-child(2){
    position: absolute;
    z-index: 2;
    margin-left: 828px;
    margin-top: 53px;
}

.youtube img:nth-child(1){
    margin-left: 895px;
    position: absolute;
    z-index: 1;
    margin-top: 40px;
}

.youtube img:nth-child(2){
    position: absolute;
    z-index: 2;
    margin-left: 908px;
    margin-top: 53px;
}

.facebook img:nth-child(1){
    margin-left: 975px;
    position: absolute;
    z-index: 1;
    margin-top: 40px;
}

.facebook img:nth-child(2){
    position: absolute;
    z-index: 2;
    margin-left: 988px;
    margin-top: 53px;
}

.instagram img:nth-child(1){
    margin-left: 1055px;
    position: absolute;
    z-index: 1;
    margin-top: 40px;
}

.instagram img:nth-child(2){
    position: absolute;
    z-index: 2;
    margin-left: 1068px;
    margin-top: 53px;
}

footer {
    background-color: #000000;
    background-size: 100%;
}

.footer-info {
    margin-left: 754px;
    color: #FFFFFF;
    font-size: 16px;
    opacity: 0.8;
    width: 400px;
    text-align: center;
    line-height: 106px;
    align-items: end;
}


