body {
    background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(255, 255, 255, 0.055) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(255, 255, 255, 0.055) 50%,rgba(0, 0, 0, 0) 52%);
    background-size: 0.5em 0.5em;
    background-color: #0f0f0f;
    margin: auto;
    max-width: 1920px;
}

header {
    display: flex;
    flex-direction: column; 
    width: 1830px;
    height: 915px;
    background-image: url(imgs/main-screen__bgc.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 40px 40px;
    position: relative;
    align-items: center;
}

.links{
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.links img {
    justify-content: flex-start;
    height: 40px;
    width: 40px;
}

.links ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    gap: 60px;

}

.links ul li a {

    color: #fff;
    text-decoration:none;
    font-family: Helvetica;
    font-size: 15px;
}

.links button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 44px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    border-color: #fff;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.timer {
    max-width: 1300px;
    position: absolute;
    width: 920px;
    height: 180px;
    left: 312px;
    top: 200px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.timer__title {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    text-align: left;
    font-family: "Helvetica";
}

#gride {
    width: 560px;
    display: grid;
    grid-template-areas: 'a a a a';
    grid-gap: 40px;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    position: absolute;
    top: 150px;
}
  
#gride > div {
    background-color:#121212;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.clock > h1 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-family: "Helvetica";
    font-weight: 600;
    height: 1px;
}

.clock > h2 {
    color: darkgrey;
    font-size: 15px;
    text-align: center;
    font-family: "Helvetica";
    font-weight: 300;
}

.stats {
    position: relative;
    top: 750px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #7e7e7e;
    background: #121212;
    width: 1910px;
    height: 130px;
    font-family: "Helvetica";
}

.stats-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    font-weight: 500;
    border-radius: 50px;
    color: #fff;
    height: 50px;
    width: 200px;
    font-size: large;
}

.stats-data{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 60px;
    justify-content: space-around;
}

.stats-timeline{
    display: flex;
    flex-direction: column;
    max-width: 674px;
}

.stats-timeline__text{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 8px;
}

.number{
    color: #fff;
}

.data-text {
    display: flex;
    justify-content: space-between;
}

.stats-timeline__line{
    width: 615px;
    background-color: #fff;
    height: 6px;
    border-radius: 5px;
}

.progress{
    width: 60%;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    height: 6px;
    border-radius: 5px;
}

.stats-timeline__numbers{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    align-items: center;
    top: 0px;
    max-width: 1830px;
    margin: auto;
    height: 5600px;
}

.wedo {
    display: flex;
    position: absolute;
    top: 1160px;
    gap: 150px;
}

.wedo__kvadrat {
    display: flex;
    position: relative;
    width: 400px;
    height: 400px;
    border: 30px solid #fff;
    border-image: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%) 25% ;
}

.wedo__kvadrat img {
    position: absolute;
    top: 30px;
    /* left: 50px; */
}

.wedo-info {
    color: #fff;
    width: 600px;
    font-size: large;
    font-family: Helvetica;
}

.info-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 48px;
}


.start {
    top: 1902px;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 1210px;
    font-family: Helvetica
}

.start-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.start-header div {
    font-weight: 700;
    font-size: 48px;
}

.start-text {
    margin: 80px 50px 0 0;
    width: 411px;
    opacity: 0.5;
}

.graph-percent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* padding-right: 250px; */
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
}

.graph-percent div:nth-child(n) {
    width: 302.5px;
}

.graph-slice {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.graph-slice__pie1,
.graph-slice__pie2,
.graph-slice__pie3,
.graph-slice__pie4{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    width: 100%;
}

.graph-slice__pie1 {
    height: 80px;
}

.graph-slice__pie2 {
    height: 60px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.graph-slice__pie3 {
    height: 30px;
}

.graph-slice__pie4 {
    height: 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.graph-description {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-top: 35px;
    opacity: 0.5;
}


.graph-description1,
.graph-description2,
.graph-description3,
.graph-description4{
    width: 302.5px;
    padding-left: 10px;
}


.profits {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    top: 2654px;
    position: absolute;
    font-family: Helvetica;
    width: 1210px;
}

.profits-header {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 120px;
}

.profits-adv {
    display: flex;
    flex-direction: row;
    gap: 82px;
}

.adv-skills,
.adv-equip,
.adv-sertificate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adv-skills__title,
.adv-equip__title,
.adv-sertificate__title{
    font-weight: 500;
    font-size: 24px;
    margin: 60px 0 30px 0;
    text-align: center;
    padding: 5%;
}

.adv-skills__description,
.adv-equip__description,
.adv-sertificate__description{
    text-align: center;
    opacity: 0.5;
}

.partners {
    top: 3434px;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 1210px;
    font-family: Helvetica
}

.partners-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.partners-header img {
    transform: scale(-1, -1);
}
.partners-header div {
    font-weight: 700;
    font-size: 48px;
}

.partners-logos {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 60px;
    justify-items: center;
}

.partners-logo{
    display: flex;
    border: solid 1px #7e7e7e;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.partners-logo img{
    width: 198px;
    height: 93px;
}

.logos-1,
.logos-2,
.logos-3,
.logos-4 {
    border-top-width: 0;
}

.logos-4,
.logos-8{
    border-right-width: 0;
}

.logos-1,
.logos-5{
    border-left-width: 0;
}

.logos-5,
.logos-6,
.logos-7,
.logos-8 {
    border-bottom-width: 0;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 4180px;
    position: absolute;
    color: #fff;
    font-family: Helvetica
}

.program-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.program-header__title{
    font-weight: 700;
    font-size: 48px;
    margin: 76px 0 30px 0;
}

.program-header__description{
    width: 411px;
    opacity: 0.5;
    font-weight: 300;
}

.program-schedule {
    display: grid;
    grid-auto-columns: 250px;
    gap: 0px 200px;
    grid-template-areas: "a1 ." ". a2" "a3 ." ". a4" "a5 ." ". a6" "a7 .";
    margin-top: 90px;
    z-index: 0;
    line-height: 25px;
}

.schedule-week1 {
    grid-area: a1;
    text-align: right;
}

.schedule-week2{
    grid-area: a2;
}

.schedule-week3{
    grid-area: a3;
    text-align: right;
}

.schedule-week4{
    grid-area: a4;
}

.schedule-week5{
    grid-area: a5;
    text-align: right;
}
.schedule-week6{
    grid-area: a6;
}
.schedule-week7{
    grid-area: a7;
    text-align: right;
}

.weeknmb{
    font-size: 14px;
    margin-bottom: 15px;
    opacity: 0.5;
}

.weekdsc{
    font-size: 18px;
    font-weight: 400;
}

.program-timeline {
    position: relative;
    top: -650px;
    z-index: 1;
}

.teachers {
    top: 5500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 1210px;
    font-family: Helvetica
}

.teachers-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.teachers-header img {
    transform: scale(-1, -1);
    
}
.teachers-header div {
    position: relative;
    top: 25px;
    font-weight: 700;
    font-size: 48px;
}

.teachers-ppl {
    display: flex;
    flex-direction: row;
    gap: 82px;
    justify-content: space-around;
    position: relative;
    top: 100px;
}

.ppl-dima1,
.ppl-dima2,
.ppl-dima3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ppl-dima1__name,
.ppl-dima2__name,
.ppl-dima3__name{
    font-weight: 500;
    font-size: 24px;
    margin: 40px 0 15px 0;
    text-align: center;
    padding: 5%;
}

.ppl-dima1__job,
.ppl-dima2__job,
.ppl-dima3__job{
    text-align: center;
    opacity: 0.5;
    margin-bottom: 40px;
}

.biobutton {
    color: #fff;
    width: 143px;
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    background-color: #0f0f0f00;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 6200px;
    position: absolute;
    color: #fff;
    font-family: Helvetica
}

.subscribe-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.subscribe-header__title{
    font-weight: 700;
    font-size: 48px;
    margin: 76px 0 30px 0;
}

.subscribe-header__description{
    width: 411px;
    opacity: 0.5;
    font-weight: 300;
}

.subscribe-mail {
    position: relative;
    width: 400px;
    height: 44px;
    top: 60px;
    background: #ffffff25;
    border-radius: 50px 0px 0px 50px;
    z-index: 0;
    left: -30px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subscribe-mail__text{
    z-index: 1;
    color: #7e7e7e;
    margin-left: 30px;
}

.subscribe-mail__button{
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    width: 160px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    position: relative;
    left: 65px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.subscribe__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 100px;
    width: 290px;
}

.socbutton {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.ender{
    position: relative;
    margin-top: 50px;
    opacity: 0.5;
}

