body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: Roboto, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('./imgs-hw/main-screen__bgc.png');
    padding: 38px 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header-top__logo img {
    height: 40px;
    width: 40px;
}

.navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    gap: 56px;
}

.list-items__item a {
    color: white;
    text-decoration: none;
}

.header__action button {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    text-align: center;
    align-content: normal;
}


.header__main {
    margin: 198px auto;
    max-width: 1300px;
}

.main-screen__title {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    text-align: left;
}
.header__indication {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    gap: 30px;
}

.indication-items__item {
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    padding: 20px 32px;
    background-color: #121212;
}

.indication-items__item span {
    font-size: 16px;
    text-align: center;
    opacity: 0.4;
}



/* .main-screen-line {
    margin-top: 380px;
    background-color: #121212;
    display: flex;
    align-items: center;
}
.main-screen-line__button {
    margin: 43px 80px 43px 312px;
    padding: 10px 30px;
    border-radius: 50px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.main-screen-line__studens {
    margin-left: 1px;
    margin-right: 81px;
}
.all-studens__list,
.sucsess-studens__list,
.students-earn__how,
.students-earn__from {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 0px;
}
.all-studens__list li:first-child {
    margin-right: 101px;
    opacity: 0.4;
    font-weight: 400;
    line-height: 24px;
}
.all-studens__list li:last-child {
    margin-right: 0px;
}
.sucsess-studens__list li:first-child {
    opacity: 0.4;
    font-weight: 400;
    line-height: 24px;
}
.all-studens__list li:last-child,
.sucsess-studens__list li:last-child,
.students-earn__how li:last-child {
    font-weight: 700;
}
.students-earn__how li:first-child {
    opacity: 0.4;
    padding-right: 30px;
}
.students-earn__how li:last-child {
    padding-right: 353px;
}
.students-earn__from {
    opacity: 0.4;
}
.students-earn__from li:first-child {
    padding-right: 623px;
} */


/*.students-earn__range {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}
.students-earn__range:first-child {
    background-color: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
    width: 450px;
    max-width: 440px;
    height: 6px;
}
.students-earn__range:last-child {
    background-color: #fff;
    width: 150px;
    max-width: 274px;
    height: 6px;
}*/

