body {
    background-color: black;
    /*background-image: url(./imgs-hw/main-screen__bgc.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #fff;
    font-weight: 400;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
}
header img {
    height: 40px;
    width: 40px;
    margin-top: 40px;
    margin-left: 80px;

}
header ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin-top: 48px;
    padding-left: 40px;
    padding-right: 40px;

}

header ul li a {
    color: #fff;
    text-decoration: none;
}
header button {
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    margin-right: 80px;
    margin-top: 38px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}


.main-screen__title {
    margin-top: 190px;
    padding-left: 312px;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    
}
.indication-items__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #121212;
    margin-top: 50px;
    order: 0;
flex-grow: 0;
}
.indication-items__item.item-day {
    margin-left: 312px;
}
.indication-items__item.item-hours {
    margin-left: 444px;
}
.indication-items__item.item-minutes {
    margin-left: 581px;

}
.indication-items__item.item-seconds {
    margin-left: 719px;

}
.item-day__number,
.item-hours__number,
.item-minutes__number,
.item-seconds__number {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    padding: 20px 30px 0px;
}
.item-day__title,
.item-hours__title,
.item-minutes__title,
.item-seconds__title {
    font-size: 16px;
    line-height: 140%;
    opacity: 0.4;
    padding-bottom: 20px;

}

.main-screen-line {
    margin-top: 380px;
    background-color: #121212;
    display: flex;
    align-items: center;
}
.main-screen-line__button {
    margin: 43px 80px 43px 312px;
    padding: 10px 30px;
    border-radius: 50px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.main-screen-line__studens {
    margin-left: 1px;
    margin-right: 81px;
}
.all-studens__list,
.sucsess-studens__list
 {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-left: 0px;
}
.all-studens__list li:first-child {
    margin-right: 101px;
    opacity: 0.4;
    font-weight: 400;
    line-height: 24px;
}
.all-studens__list li:last-child {
    margin-right: 0px;
}
.sucsess-studens__list li:first-child {
    margin-right: 30px;
    opacity: 0.4;
    font-weight: 400;
    line-height: 24px;
}
